[submodule "glfw"]
	path = OpenGLRenderer/vendor/glfw
	url = https://github.com/nhoughto5/glfw.git
	ignore = dirty
[submodule "OpenGLRenderer/vendor/glm"]
	path = OpenGLRenderer/vendor/glm
	url = https://github.com/g-truc/glm
	ignore = dirty
[submodule "OpenGLRenderer/vendor/spdlog"]
	path = OpenGLRenderer/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "OpenGLRenderer/vendor/pugixml"]
	path = OpenGLRenderer/vendor/pugixml
	url = https://github.com/nhoughto5/pugixml
